<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.mundomed.www"
        version   = "1.0.2"
        android-versionCode="1.0.2
	ios-CFBundleVersion="1.0.2" >

    <name>MUNDOMED Saúde Online</name>

    <description>
        Aplicativo para marcação de consultas e exames online.
    </description>

    <author href="http://www.imaginecomunicacao.com.br" email="atendimento@imaginecomunicacao.com.br">
        Imagine Comunicação Digital
    </author>

    <!--
        If you do not want any permissions to be added to your app, add the
        following tag to your config.xml; you will still have the INTERNET
        permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions"                value="none"/>
    <!-- Customize your app and platform with the preference element. -->
    <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
  

    <!-- Plugins -->

    <!-- Core plugins
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.vibration" /> -->
	<gap:plugin name="org.apache.cordova.splashscreen" />


<!-- Adiciona Icones -->
    <!-- iPhone 6 / 6+ -->
    <icon src="res/icon/ios/icon-180x180.png" gap:platform="ios" width="180" height="180" />
    
    <!-- iPhone / iPod Touch  -->
    <icon src="res/icon/ios/icon-60x60.png" gap:platform="ios" width="60" height="60" />
    <icon src="res/icon/ios/icon-120x120.png" gap:platform="ios" width="120" height="120" />
    
    <!-- iPad -->
    <icon src="res/icon/ios/icon-76x76.png" gap:platform="ios" width="76" height="76" />
    <icon src="res/icon/ios/icon-152x152.png" gap:platform="ios" width="152" height="152" />
    
    <!-- Settings Icon -->
    <icon src="res/icon/ios/icon-29x29.png" gap:platform="ios" width="29" height="29" />
    <icon src="res/icon/ios/icon-58x58.png" gap:platform="ios" width="58" height="58" />
    
    <!-- Spotlight Icon -->
    <icon src="res/icon/ios/icon-40x40.png" gap:platform="ios" width="40" height="40" />
    <icon src="res/icon/ios/icon-80x80.png" gap:platform="ios" width="80" height="80" />
    
    <!-- iPhone / iPod Touch -->
    <icon src="res/icon/ios/icon-57x57.png" gap:platform="ios" width="57" height="57" />
    <icon src="res/icon/ios/icon-114x114.png" gap:platform="ios" width="114" height="114" />
    
    <!-- iPad -->
    <icon src="res/icon/ios/icon-72x72.png" gap:platform="ios" width="72" height="72" />
    <icon src="res/icon/ios/icon-144x144.png" gap:platform="ios" width="144" height="144" />
    
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="res/icon/ios/icon-29x29.png" gap:platform="ios" width="29" height="29" />
    <icon src="res/icon/ios/icon-58x58.png" gap:platform="ios" width="58" height="58" />
    
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="res/icon/ios/icon-50x50.png" gap:platform="ios" width="50" height="50" />
    <icon src="res/icon/ios/icon-100x100.png" gap:platform="ios" width="100" height="100" />
    
    
    
    <!-- Android -->
    <icon src="res/icon/android/drawable-ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
    <icon src="res/icon/android/drawable-mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <icon src="res/icon/android/drawable-hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <icon src="res/icon/android/drawable-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
    <icon src="res/icon/android/drawable-xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
    <icon src="res/icon/android/drawable-fr-xxhdpi.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />
<!-- Fim dos icones -->
    
    
    
<!-- iPhone and iPod touch -->
<gap:splash src="res/screen/ios/splash-ios-320x480.png" gap:platform="ios" width="320" height="480" />
<gap:splash src="res/screen/ios/splash-ios-640x960.png" gap:platform="ios" width="640" height="960" />
    
<!-- iPhone 5 / iPod Touch (5th Generation) -->
<gap:splash src="res/screen/ios/splash-ios-640x1136.png" gap:platform="ios" width="640" height="1136" />
    
<!-- iPhone 6 -->
<gap:splash src="res/screen/ios/splash-ios-750x1334.png" gap:platform="ios" width="750" height="1334" />
<gap:splash src="res/screen/ios/splash-ios-1242x2208.png" gap:platform="ios" width="1242" height="2208" />
<gap:splash src="res/screen/ios/splash-ios-2208x1242.png" gap:platform="ios" width="2208" height="1242" />
    
<!-- iPad -->
<gap:splash src="res/screen/ios/splash-ios-768x1024.png" gap:platform="ios" width="768" height="1024" />
<gap:splash src="res/screen/ios/splash-ios-1024x768.png" gap:platform="ios" width="1024" height="768" />

<!-- Retina iPad -->
<gap:splash src="res/screen/ios/splash-ios-1536x2048.png" gap:platform="ios" width="1536" height="2048" />
<gap:splash src="res/screen/ios/splash-ios-2048x1536.png" gap:platform="ios" width="2048" height="1536" />
    
    
    
<!-- Android Splash -->
<gap:splash src="res/screen/android/drawable-port-ldpi.png" gap:platform="android" gap:qualifier="port-ldpi" />
<gap:splash src="res/screen/android/drawable-land-ldpi.png" gap:platform="android" gap:qualifier="land-ldpi" />
    
<gap:splash src="res/screen/android/drawable-port-mdpi.png" gap:platform="android" gap:qualifier="port-mdpi" />
<gap:splash src="res/screen/android/drawable-land-mdpi.png" gap:platform="android" gap:qualifier="land-mdpi" />

<gap:splash src="res/screen/android/drawable-port-hdpi.png" gap:platform="android" gap:qualifier="port-hdpi" />
<gap:splash src="res/screen/android/drawable-land-hdpi.png" gap:platform="android" gap:qualifier="land-hdpi" />

<gap:splash src="res/screen/android/drawable-port-xhdpi.png" gap:platform="android" gap:qualifier="port-xhdpi" />
<gap:splash src="res/screen/android/drawable-land-xhdpi.png" gap:platform="android" gap:qualifier="land-xhdpi" />

<gap:splash src="res/screen/android/drawable-port-fr-xhdpi.png" gap:platform="android" gap:qualifier="port-fr-xhdpi" />
<gap:splash src="res/screen/android/drawable-land-fr-xhdpi.png" gap:platform="android" gap:qualifier="land-fr-xhdpi" />
  
<gap:splash src="res/screen/android/drawable-port-xxhdpi.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
<gap:splash src="res/screen/android/drawable-land-xxhdpi.png" gap:platform="android" gap:qualifier="land-xxhdpi" />
    
    
    
<!-- Caso não consiga encontra o icone, segue o caminho par o ser utilizado por default -->
<icon src="res/icon/icon.png" />
    
    
	 
<!-- Solicita acesso ao aparelho -->
<feature name="http://api.phonegap.com/1.0/device" />
<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="http://api.phonegap.com/1.0/notification"/>

    <!--
        Define access to external domains.

        <access />            - a blank access tag denies access to all external resources.
        <access origin="*" /> - a wildcard access tag allows access to all external resource.

        Otherwise, you can specify specific domains:
    -->
    <access origin="*"/>
    <!--
        <access origin="http://phonegap.com" />                    - allow any secure requests to http://phonegap.com/
        <access origin="http://phonegap.com" subdomains="true" />  - same as above, but including subdomains, such as http://build.phonegap.com/
        <access origin="http://phonegap.com" browserOnly="true" /> - only allows http://phonegap.com to be opened by the child browser.
    -->

</widget>
